@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;800&family=Montserrat:wght@300;500;600;700;800&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFFFFF;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__burger {
  display: none;
}

.menu {
  padding: 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  float: right;
  margin-bottom: 45px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu__currency {
  color: #2D313680;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  background-image: url(/assets/img/arrowdown.svg);
  background-repeat: no-repeat;
  background-position: 105px 6px;
  padding-right: 20px;
  cursor: pointer;
}

.menu__currency a {
  color: #536BB1;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  padding-left: 5px;
}

.menu__currency span {
  cursor: default;
}

.menu__registration {
  color: #536BB1;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.menu__list {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  float: right;
  color: #2D3136;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.menu__item {
  color: #2D3136;
}

.menu__item a {
  text-decoration: none;
  position: relative;
}

.menu__item li,
.menu__item a::before {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -180%;
  width: 0%;
  height: 3px;
  background-color: #536BB1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__item li,
.menu__item a:hover::before {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 1290px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #FFFFFF;
  }
  .header__container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .header__burger {
    display: none;
  }
  .menu {
    display: none;
    padding: 32px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
  }
  .menu__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    float: right;
    margin-bottom: 45px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .menu__currency {
    color: #2D313680;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    background-image: url(/assets/img/arrowdown.svg);
    background-repeat: no-repeat;
    background-position: 105px 6px;
    padding-right: 20px;
    cursor: pointer;
  }
  .menu__currency a {
    color: #536BB1;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    padding-left: 5px;
  }
  .menu__currency span {
    cursor: default;
  }
  .menu__registration {
    color: #536BB1;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
  .menu__list {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    float: right;
    color: #2D3136;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #FFFFFF;
  }
  .header__container {
    max-width: 592px;
    margin: 0 auto;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 10%;
    height: 5px;
    z-index: 30;
    margin-top: 10px;
  }
  .header__burger span {
    position: absolute;
    background-color: #55a6d4;
    left: 350%;
    width: 40%;
    height: 5px;
    bottom: 200%;
  }
  .header__burger::before {
    content: '';
    background-color: #55a6d4;
    position: absolute;
    width: 40%;
    height: 5px;
    left: 350%;
    top: 200%;
  }
  .header__burger::after {
    content: '';
    background-color: #55a6d4;
    position: absolute;
    width: 40%;
    height: 5px;
    left: 350%;
    bottom: 10%;
  }
  .menu {
    padding: 32px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
  }
  .menu__top {
    display: none;
    gap: 40px;
    float: right;
    margin-bottom: 45px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .menu__currency {
    color: #2D313680;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    background-image: url(/assets/img/arrowdown.svg);
    background-repeat: no-repeat;
    background-position: 105px 6px;
    padding-right: 20px;
    cursor: pointer;
  }
  .menu__currency a {
    color: #536BB1;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    padding-left: 5px;
  }
  .menu__currency span {
    cursor: default;
  }
  .menu__registration {
    color: #536BB1;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
  .menu__low {
    display: none;
  }
  .menu__list {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    float: right;
    color: #2D3136;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
}

@media screen and (max-width: 592px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #FFFFFF;
  }
  .header__container {
    max-width: none;
    margin: 0 auto;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 10%;
    height: 5px;
    z-index: 30;
    margin-top: 10px;
    margin-right: 50px;
  }
  .header__burger span {
    position: absolute;
    background-color: #55a6d4;
    left: 330%;
    width: 50%;
    height: 5px;
    bottom: 200%;
  }
  .header__burger::before {
    content: '';
    background-color: #55a6d4;
    position: absolute;
    width: 50%;
    height: 5px;
    left: 330%;
    top: 200%;
  }
  .header__burger::after {
    content: '';
    background-color: #55a6d4;
    position: absolute;
    width: 50%;
    height: 5px;
    left: 330%;
    bottom: 10%;
  }
  .menu {
    padding: 32px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
  }
  .menu__top {
    display: none;
    gap: 40px;
    float: right;
    margin-bottom: 45px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .menu__currency {
    color: #2D313680;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    background-image: url(/assets/img/arrowdown.svg);
    background-repeat: no-repeat;
    background-position: 105px 6px;
    padding-right: 20px;
    cursor: pointer;
  }
  .menu__currency a {
    color: #536BB1;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    padding-left: 5px;
  }
  .menu__currency span {
    cursor: default;
  }
  .menu__registration {
    color: #536BB1;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
  .menu__low {
    display: none;
  }
  .menu__list {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    float: right;
    color: #2D3136;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
}
/*# sourceMappingURL=header.css.map */